/*
Theme Name: Mallpocket
Theme URI: http://www.mallpocket.com
Author: Omar Paez Rodriguez
Author URI: http://opaez.com

CSS STRUCTURE:

1. HOME
2. PAGES AND CONTENT
3. FORMS
4. COMMON
5. MEDIA QUERIES

/*============================================================================================*/


/* 1.  SITE STRUCTURE and TYPOGRAPHY */


/*============================================================================================*/


/* Fonts and Icons */




/*================ Created on : 14/01/2017, 09:00:37 pm,  Author: Omar paez Rodriguez 	================*/

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {


}
body {
    background-image: url(../img/bgSite.png);
    background-position: center -81px;
}
.logo {
    display: inline-block;
    width: 100%;
    height: 89px;
    max-width: 370px;
}
.submenu li {
    list-style: none;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 10px;
}
.submenu a {
     font-family: 'Conv_BEBASNEUE';
    font-weight: bold;
    font-size: 1.8em;
    color: #fff;
    text-decoration: none;
    margin: 0;
    text-align: center;
    vertical-align: top;
    padding: 0;
}
.submenu ul {
    padding-right: 10px;
    display: inline-block;
}
.socialicons {
    display: inline-block;
    vertical-align: top;
    color: #7DBE20;
    font-size: 1.8em;
    font-family: 'Conv_BEBASNEUE';
    text-align: center;
    border-left: 2px solid #66B821;
    height: 75px;
	padding-left: 15px;
	margin-top: 5px;
}
.socialicons p {
	margin: 0;
	padding: 0;
}|
.submenu span {
    display: block;
    font-size: 12px;
    text-align: center;
    margin-top: -6px;
    line-height: 1.3;
    color: #7DBE20;
}
a.last {
    border: none !important;
}
.Nav_New {
     background: rgba(0, 0, 0, 0.37);
    padding: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    display: block;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    margin-bottom: 25px;
}
.Nav_New a {
    font-family: 'Conv_BEBASNEUE';
    color: #fff;
    font-size: 2.2em;
    text-align: center;
    padding: 0 40px;
	text-decoration: none;
	border-right: 2px solid #66B821;
}
.Nav_New li {
    display: inline-block;
    padding: 4px 0;
	vertical-align: top;
	position: relative;
}
.Nav_New li:last-child {
    border: none;
}
.Nav_New li:hover {
    background: #34A8B5;
}
#hidden {
	display: none;
    transition: 0.2s;
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.80);
    margin-top: 3px;
}
#hidden a {
    border: none;
    padding: 0;
}
#hidden li{
width: 100%;
}
#visible:hover #hidden {
display: block;
}

/*********/
#hidden2 {
display: none;
transition: 0.2s;
position: absolute;
z-index: 1;
margin: 0;
padding: 0;
text-align: center;
width: 100%;
background: rgba(0, 0, 0, 0.80);
margin-top: 3px;
}
#hidden2 a {
border: none;
padding: 0;
}
#hidden2 li{
width: 100%;
}
#visible2:hover #hidden2 {
display: block;
}
/********/

/*********/
#hidden3 {
	display: none;
	transition: 0.2s;
	position: absolute;
	z-index: 1;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
	background: rgba(0, 0, 0, 0.80);
	margin-top: 3px;
}
#hidden3 a {
	border: none;
	padding: 0;
}
#hidden3 li{
	width: 100%;
}
#visible3:hover #hidden3 {
	display: block;
}
/********/

/*********/
#hidden4 {
	display: none;
	transition: 0.2s;
	position: absolute;
	z-index: 1;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
	background: rgba(0, 0, 0, 0.80);
	margin-top: 3px;
}
#hidden4 a {
	border: none;
	padding: 0;
}
#hidden4 li{
	width: 100%;
}
#visible4:hover #hidden4 {
	display: block;
	}
/********/

/*********/
#hidden5 {
	display: none;
	transition: 0.2s;
	position: absolute;
	z-index: 1;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
	background: rgba(0, 0, 0, 0.80);
	margin-top: 3px;
}
#hidden5 a {
	border: none;
	padding: 0;
}
#hidden5 li{
	width: 100%;
}
#visible5:hover #hidden5 {
	display: block;
}
/********/


.wrapNews  {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}
.wrapNews:hover #thumbnail  {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#thumbnail {
    position: relative;
    display: block;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.gradient {
    background: rgba(0, 0, 0, 0.70);
    padding: 25px;
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
    width: 100%;
    padding-top: 15px;
}
p.center {
text-align: center;
}

.gradient h2 {
    color: #34A8B5;
    font-family: 'Conv_BEBASNEUE';
    font-size: 2em;
    text-align: center;
}
.gradient p {
	color: #fff;
	width: 75%;
	margin: 0;
}
.gradient a {
	text-decoration: none;	
}
.redesNews {
    width: 70px;
    position: absolute;
    right: 7px;
    bottom: 15px;
}
.hamburguer,.closeM {
	display: none;
}
@media only screen and (max-width: 991px) {

.hamburguer {
    width: 50px;
    height: 50px;
    background-color: #389EA9;
    position: absolute;
    right: 16px;
    top: 29px;
    border-radius: 50%;
    display: block;
    z-index: 2;
}
	.closeM {
    width: 50px;
    height: 50px;
    background-color: #389EA9;
    position: absolute;
    right: 16px;
    top: 29px;
    border-radius: 50%;
    display: block;
    z-index: 2;
}
	.closeM img {
    width: 30px;
    display: block;
    margin: 12px auto;
}
	.socialicons {
    display: inline-block;
    vertical-align: top;
    color: #7DBE20;
    font-size: 1.8em;
    font-family: 'Conv_BEBASNEUE';
    text-align: center;
    border-right: 2px solid #66B821;
	border-left: none;
    height: 75px;
    padding-right: 15px;
    margin-top: 5px;
    position: absolute;
    right: 85px;
}
	.hamburguer img {
		width: 30px;
		display: block;
		margin: 12px auto;	
}

	nav.menu {
		position: absolute;
		top: 0;
		right: 0;
		display: none;
}
	.Nav_New{
		width: 250px;
		top: 82px;
		position: relative;
		z-index: 1;
		background: rgba(0, 0, 0, 0.8);
	}
	#hidden,#hidden2,#hidden3,#hidden4,#hidden5 {
	    position: inherit;
	}
	.Nav_New a {
		border-right:none;
		border-bottom: 2px solid #66B821;
	}
	.submenu ul {
		display: none;
	}
	
}
@media only screen and (max-width: 630px) {

	.logo {
	max-width: 200px;
	margin-top: 23px;
	}
	
}
